body {
    background-color: #5d6d7c;
}

.jumbotron {
    /* background-color: #e3a765; */
    background-image: url(/resource/andrey-konstantinov-Jk8tUzZ0O6E-unsplash.jpg);
    margin-bottom: 0;
    background-size: cover;
}

.alert {
    background-color: #dd7631;
}

